<template name="_footer">
    <div class="ui grid">
        <div class="four column doubling row">
            <a href="{{pathFor 'blog'}}" class="four wide column">
                <h2>Blog</h2>
            </a>
            <a href="{{pathFor 'podcast'}}" class="four wide column">
                <h2>Podcast</h2>
            </a>
            <a href="{{pathFor 'store'}}" class="four wide column">
                <h2>Store</h2>
            </a>
            <a href="{{pathFor 'connect'}}" class="four wide column">
                <h2>Connect</h2>
            </a>
        </div>
    </div>
  <footer class="ui two column stackable grid">
		<div class="column"><h4>&copy; 2015 Anthony C. Grills </h4></div>
		<div class="column"><h4>Crafted by <a href="http://christopherbeard.me">Christopher Beard</a></h4>
        </div>
    
  </footer>
</template>
