@import "mixins";

div.ui.podcast-banner.grid {
  height: 85vh;
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('http://www.lorempixel.com/1920/1080/technics/6');
  background-size: cover;
  @media screen and (max-width: 481px) {
    height: 85vh;
  }
  @media screen and (max-width: 350px) {
    height: 80vh;
  }
  div.ui.container {
    text-align: center;
    padding-top: 10%;
    color: #fafafa;
    h1 {
      font-size: 4rem;
      @include text-shadow(#fafafa);
    }
    p.center {
      font-size: 1.5rem;
      text-align: center;
      margin: 0;
    }
  }
}

div.ui.podcast.grid {
  div.row {
    padding: 0;
    margin: 0;
    div.column {
      height: 50vh;
      margin: 0;
      &.seven.wide.podcast-title {
        text-align: right;
        background-color: #fafafa;
        color: #000000;
        z-index: 1;
        padding-top: 5%;
        @media screen and (max-width: 481px) {
          -webkit-order: 1;
          order: 1;
        }
        h4 {
          font-size: 1.5rem;
          color: #000000;
          margin-right: 1rem;
          font-weight: bold;
          @include mobile-align(center);
          @media screen and (max-width: 481px) {
            margin-top: -4rem;
            font-size: 1.75rem;
            color: #fafafa;
          }
          span {
            color: #de4f4f;
          }
        }
        h2 {
          display: inline-block;
          margin-left: 25%;
          margin-right: -4rem;
          font-size: 3rem;
          color: #000000;
          @include mobile-align(center);
          @include text-shadow(#000000);
          background-color: #de4f4f;
          padding: 1rem;
          text-transform: uppercase;
        }
      }
      &.podcast-image {
        background: url('http://www.lorempixel.com/900/500/technics/3') no-repeat;
        background-size: cover;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: all 0.5s;
        z-index: 0;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        i.play.icon {
          margin-top: 3rem;
          font-size: 5rem;
          color: #fafafa;
          transition: all 0.5s;
        }
        &:hover {
          -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
          i.play.icon {
            font-size: 6rem;
          }
        }
      }
    }
    &:nth-child(even) {
      div.podcast-image.column {
        background: url('http://www.lorempixel.com/900/500/technics/2') no-repeat;
        -webkit-order: -1;
        order: -1;
      }
      div.seven.wide.podcast-title.column {
        text-align: left;
        @media screen and (max-width: 481px) {
          -webkit-order: 1;
          order: 1;
        }
        h4 {
          margin-left: 1rem;
          span {
            color: #2f92a3;
          }
        }
        h2 {
          margin-right: 25%;
          margin-left: -4rem;
          background-color: #2f92a3;
          @include mobile-align(center);
        }
      }
    }
  }
}

