@import 'mixins';

div.ui.banner.grid {
  height: 100vh;
  z-index: -1;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/abstract.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (max-width: 481px) {
    height: 85vh;
  }
  @media screen and (max-width: 350px) {
    height: 80vh;
  }
}

div.ui.container {
  h1.header {
    font-size: 5.5rem;
    text-align: left;
    margin-right: 40%;
    //margin-left: -15%;
    margin-top: 8rem;
    color: #fafafa;
    @include text-shadow(#fafafa);
    @media screen and (max-width: 1440px) {
      font-size: 4rem;
      margin-top: 6rem;
    }
    @media screen and (max-width: 481px) {
      font-size: 2rem;
      margin-top: 2rem;
    }
    @include mobile-align(center);
    span {
      color: #2f92a3;
      @include text-shadow(#2f92a3);
    }
  }
  p {
    font-size: 1.5rem;
    color: #fafafa;
    font-family: georgia;
    margin-right: 50%;
    //margin-left: -15%;
    margin-top: 2rem;
    font-weight: 300;
    text-align: justify;
    @media screen and (max-width: 321px) {
      font-size: 1rem;
    }
    @include mobile-align(center);
  }
}


div.seven.column.row {
  //height: 75vh;
  margin: 0;
  padding: 0;

  .column {
    margin: 0;
    height: 75vh;
    @media screen and (max-width: 481px) {
      height: 50vh;
    }
    &.seven {
      background: #fafafa;
      z-index: 1;
      padding-top: 10%;
      text-align: right;
      @media screen and (max-width: 481px) {
        -webkit-order: 1;
        order: 1;
      }
      h4 {
        font-size: 1.5rem;
        font-weight: 600;
        text-align: right;
        color: #000000;
        text-shadow:
        -0.5px -0.5px 0 #000000,
        0.5px -0.5px 0 #000000,
        -0.5px 0.5px 0 #000000,
        0.5px 0.5px 0 #000000;
        @include mobile-align(center);
        @include mobile-vertical(15%);
        @media screen and (max-width: 481px) {
          margin-top: -4rem;
          color: #fafafa;
        }
        &.right-side {
          text-align: left;
          @include mobile-align(center);
        }
      }
      h2 {
        display: inline-block;
        text-align: right;
        text-transform: uppercase;
        margin-left: 30%;
        line-height: 5rem;
        font-size: 4rem;
        margin-right: -4rem;
        padding: 1rem;
        background-color: #de4f4f;
        @include text-shadow(#000000);
        @media screen and (max-width: 1440px) {
          margin-left: 15%;
        }
        @include mobile-align(center);
        @include mobile-line(3rem);
        &.right-side {
          text-align: left;
          margin-right: 30%;
          margin-left: -4rem;
          background-color: #2f92a3;
          @include mobile-align(center);
        }
      }
    }
    &.nine.image {
      background-size: cover;
      z-index: 0;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      transition: all 1s;
      @media screen and (max-width: 481px) {
        background-size: contain;
      }
      &:hover {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
      }
      &#blog {
        background: url('http://www.lorempixel.com/900/900/nature/2');
      }
      &#podcast {
        background: url('http://www.lorempixel.com/900/900/nature/3');
      }
      &#church {
        background: url('http://www.lorempixel.com/900/900/nature/4');
      }
    }
  }
}