@import "mixins";

div.ui.store-banner.grid {
  height: 85vh;
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('http://www.lorempixel.com/1920/1080/city/1');
  background-size: cover;
  @media screen and (max-width: 481px) {
    height: 85vh;
  }
  @media screen and (max-width: 350px) {
    height: 80vh;
  }
  div.ui.container {
    text-align: center;
    padding-top: 10%;
    color: #fafafa;
    h1 {
      font-size: 4rem;
      @include text-shadow(#fafafa);
    }
    p.center {
      font-size: 1.5rem;
      text-align: center;
      margin: 0;
    }
  }
}