<template name="blog">
    <div class="ui blog-banner grid">
        <div class="ui container">
            <h1>Blog</h1>
            <p class="center">Thanks for checking out my blog. I write about everything from Jesus and
                leadership, to parenthood and good coffee.</p>
        </div>
    </div>
    <div class="ui blog grid">
        {{#each posts}}
        <div class="stackable row">
            <div class="blog-title seven wide column">
                <h4>{{this.publishDate}} | <span>{{this.category}}</span></h4>
                <h2>{{this.title}}</h2>
            </div>
            <div class="blog-image nine wide column"></div>
        </div>
        {{/each}}
    </div>
</template>