<template name="podcast">
    <div class="ui podcast-banner grid">
        <div class="ui container">
            <h1>Podcast</h1>
            <p class="center">This is the podcast where I and several others discuss topics relevant to the Christian
                life and ministry.</p>
        </div>
    </div>
    <div class="ui podcast grid">
        <div class="stackable row">
            <div class="podcast-title seven wide column">
                <h4>DATE | <span>CATEGORY</span></h4>
                <h2>THIS IS THE PODCAST TITLE</h2>
            </div>
            <div class="podcast-image nine wide column"><i class="play icon"></i></div>
        </div>
        <div class="stackable row">
            <div class="podcast-title seven wide column">
                <h4>DATE | <span>CATEGORY</span></h4>
                <h2>THIS IS THE PODCAST TITLE</h2>
            </div>
            <div class="podcast-image nine wide column"><i class="play icon"></i></div>
        </div>
    </div>
</template>