<template name="connect">
    <div class="ui connect-banner grid"></div>
    <div class="ui two column stackable grid">
        <div class="column">
            <div class="ui connect fluid card">
                <h1 class="header">Contact Anthony</h1>
                <p class="description">I would love to hear from you! If you send me an email, I will be sure to get back to you as soon as possible. Please let us know how we can serve you or pray for you!</p>
                <div class="ui form">
                    <div class="large required field"><label>First Name</label><input type="text" placeholder="First Name"/></div>
                    <div class="large required field"><label>Last Name</label><input type="text" placeholder="Last Name"/></div>
                    <div class="large field"><label>Your Church/Event/Org</label><input type="text" placeholder="Church/Event/Organization"/></div>
                    <div class="large required field"><label>Your Email</label><input type="email" placeholder="your@email.com"/></div>
                    <div class="large required field"><label>Your Phone</label><input type="tel" placeholder="(###)
###-####"/></div>
                    <div class="large field"><label>Your Website</label><input type="url" placeholder="www.yourwebsite
.com"/></div>
                    <div class="large field"><label>I'm Interested In...</label><select class="ui dropdown">
                        <option value="">Choose One</option>
                        <option value="1">Leave an Encouraging Note</option>
                        <option value="2">Visiting Main Street</option>
                        <option value="3">Speaking Inquiries</option>
                        <option value="4">Other</option>
                        </select>
                    </div>
                    <div class="large required field"><label>Leave a Note</label><textarea placeholder="Your message..."></textarea></div>
                    <div class="large field"><input class="submit" type="submit" value="Submit"/></div>
                </div>
            </div>
        </div>
        <div class="column">
            <h2 class="about header">Address</h2>
            <p class="about-content">315 East Main Street<br>Tazewell, VA 24651</p>
            <h2 class="about header">Phone</h2>
            <p class="about-content">(276) 988-2519</p>
            <h2 class="about header">Email</h2>
            <p class="about-content"><a href="mailto:msumctazewell@gmail.com">msumctazewell@gmail.com</a></p>
            <h2 class="about header">Visit</h2>
            <p class="about-content">Are you interested in visiting Main Street United Methodist? Learn more at our <a
                    href="http://mainstreettazewell
            .com">website</a>.</p>
        </div>
    </div>
</template>